<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="sessionFactory">
  <!-- hibernate 4.x does not use "hibernate" prefix in property names 
 JDBC connection settings -->
  <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
  <!--property name="connection.url">jdbc:mysql://115.238.249.172:3306/db_watchshow??useUnicode=true&amp;characterEncoding=UTF-8</property-->
  <property name="connection.url">jdbc:mysql://127.0.0.1:3306/db_watchshow?autoReconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8</property>
  <property name="connection.username">root</property>
  <!-- for demo server use ligang as username -->
  <property name="connection.password">ligang</property>
  <!-- Database password for given user -->
  <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
  <!-- Trivial settings -->
  <property name="show_sql">true</property>
  <property name="use_sql_comments">true</property>
  <property name="current_session_context_class">thread</property>
  <!-- property name="hibernate.cache.provider_class"></property 
 Disable the BeanValidation -->
  <property name="javax.persistence.validation.mode">none</property>
  <property name="cache.use_query_cache">false</property>
  <property name="cache.use_second_level_cache">true</property>
  <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
  <property name="cache.provider_configuration_file_resource_path">com/watchshow/config/hibernate_ehcache.xml</property>
  <!-- Connection pool: c3p0 settings -->
  <property name="c3p0.max_size">20</property>
  <property name="c3p0.min_size">5</property>
  <property name="c3p0.max_statements">50</property>
  <property name="c3p0.timeout">300</property>
  <property name="c3p0.idle_test_period">3000</property>
  <!-- Class domain object mapping to database entity -->
  <mapping class="com.watchshow.platform.domain.WatchBrand" resource="com/watchshow/hbm/WatchBrand.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.WatchStore" resource="com/watchshow/hbm/WatchStore.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.Watch" resource="com/watchshow/hbm/Watch.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.StoreAdminHistory" resource="com/watchshow/hbm/StoreAdminHistory.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.StoreAdministrator" resource="com/watchshow/hbm/StoreAdministrator.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.User" resource="com/watchshow/hbm/User.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.UserHistory" resource="com/watchshow/hbm/UserHistory.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.VisitingHistory" resource="com/watchshow/hbm/VisitingHistory.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.PlatformAdministrator" resource="com/watchshow/hbm/PlatformAdministrator.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.PlatformAdminLog" resource="com/watchshow/hbm/PlatformAdminLog.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.Publication" resource="com/watchshow/hbm/Publication.hbm.xml"/>
  <mapping class="com.watchshow.platform.domain.PlatformBulletin" resource="com/watchshow/hbm/PlatformBulletin.hbm.xml"/>
 </session-factory>
</hibernate-configuration>
